:root {
  --color-primary:    #f01f4b;
  --color-text:       #17161A;
  --color-background: #f5f5f5;
  /* Se pueden añadir más variables */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.45;
  color: var(--color-text);
}
a {
  color: var(--color-primary);
}
.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.services {
  padding: 3rem 0;
}
.services__header {
  margin-bottom: 4rem;
  text-align: center;
}
.services__title {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5rem;
  line-height: 1;
}
.services__epigraph {
  display: inline-block;
  margin-bottom: 1rem;
  padding: .65rem 1rem .35rem;
  font-size: .85rem;
  line-height: 1;
  text-transform: uppercase;
  background-color: var(--color-background);
  border-radius: 5px;
}
.services__body {
  display: grid;
  gap: 20px;
  margin-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .services__body {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .services__body {
    grid-template-columns: repeat(4, 1fr); 
  }
}
.service {
  padding: 2.5rem 1.25rem 2rem 1.25rem;
  text-align: center;
  background-color: var(--color-background);
  border-radius: 20px;
}
.service__title {
  margin-bottom: 1rem;
  line-height: 1;
}
.service__description {
  margin-bottom: 1.75rem;
}
.service__link {
  color: var(--color-text);
}
.services__footer {
  text-align: center;
}
.services__button {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #fff;
  background-color: var(--color-primary);
  border-radius: 2rem;
}